   .about-container{
    margin-top: 120px;
    margin-bottom: 50px;
    min-height: 600px;
   }

   .about-photo-box{
    display: inline-block;
    align-items: center;
    width: 30%;
    height: 15%;
   }
   .about-photo{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-style: solid;
    border-radius: 50%;
    margin-right: 30px;
    margin-top: 30px;
    margin-left: 100px;
   }

   .about-heading{
    text-align: left;
    margin-left: 150px;
    margin-top: 150px;
   }
   .about-description-box{
    display: inline-block;
    margin-top: 30px;
    width: 50%;
    height: 350px;
    padding: 25px;
    border-radius: 10px;
    margin-right: 50px;
    margin-left: 60px;
    border-color: white;
    border-style: solid;
    color: aliceblue;
   }
