.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .education{
  background-color: #282c34;
} */

/* .maindiv{
  background-image: url(https://wallpaperaccess.com/full/5651999.jpg);
} */

/* .introbck{
  background-image: url(https://img.freepik.com/free-photo/abstract-grunge-decorative-relief-navy-blue-stucco-wall-texture-wide-angle-rough-colored-background_1258-28311.jpg?w=1380&t=st=1684487743~exp=1684488343~hmac=77cfaf56bcb9dd5c51107bc46601554b0761a8bf58a9a4b0a5e32d24ebe9f6a4);
  background-size: 3000px, 1000px;
} */
